
/* Adicione estilos adicionais conforme necessário */

.pesquisar{
    margin-top: 10px;
    display: flex;
    justify-content: center; /* Centraliza na horizontal */
    font-family: Arial, Helvetica, sans-serif
}

#searchInput{
    background-color: white;
    width: 240px;
    outline: none;
    padding: 14px;
    border-radius: 6px;
    border: none;
   

}
/* Adiciona margem de 1% à esquerda e à direita em telas pequenas (como mobile) */
   @media screen and (max-width: 480px) {
    .search-container{
        margin-top: 10px;
        border: none;
    }
    
}

button {
    padding: 14px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
   
}

.search-container {
    position: relative;
  }
  
.search-container button {
    position: absolute;
    top: 50%;
    right: 0px; /* Ajuste conforme necessário */
    transform: translateY(-50%);
  }
/* Adiciona margem de 1% à esquerda e à direita em telas pequenas (como mobile) */
@media screen and (max-width: 480px) {
    .search-container button {
        position: absolute;
        top: 50%;
        right: 0px; /* Ajuste conforme necessário */
        transform: translateY(-50%);
      }
    
}


#searchResults {
    margin-top: 20px;
    background-color: white;
    display: flex;
    justify-content: center; /* Centraliza na horizontal */
    align-items: center; /* Centraliza na vertical */
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    max-width: 100%; /* Define a largura máxima como 100% da largura do contêiner pai */

    /* Adiciona margem de 5% à esquerda e à direita em telas grandes */
    margin-left: 25%;
    margin-right: 25%;
}
/* Adiciona margem de 2% à esquerda e à direita em telas médias */
@media screen and (max-width: 768px) {
    #searchResults {
        margin-left: 10%;
        margin-right: 10%;
}
}
/* Adiciona margem de 1% à esquerda e à direita em telas pequenas (como mobile) */
@media screen and (max-width: 480px) {
    #searchResults {
        margin-left: 5%;
        margin-right: 5%;
    }
}

