body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #453A1F;
    height: 50px;
}

.footer p {
    text-align: center;
    font-size: 14px;
    color: white;
    line-height: 25px; /* Ajuste conforme necessário */
    margin: 10px 0; /* Ajuste conforme necessário */
    align-items: center;
}
